{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    
    <div id="npe-container">
        <h1 id="npe-title">Edit Page</h1>
        <form action="{% url 'edit_page' %}" method="post" id="p-form">
        
            {% csrf_token %}
        
            {{ form }}
            <input type="hidden" name="old-title" value="{{ old_title }}">
            <input type="submit" value="Submit Edit" id="pf-button">
            <!-- <a href="{% url 'entries' name=old_title %}">Cancel</a> -->
        </form>
    </div>
    
{% endblock %}