{% load static %}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>
<body>

    <nav id="navbar">

        <div id="nav-container">

            <div id="logo"><a href="{% url 'index' %}">Wiki</a></div>
            <form action="{% url 'search' %}">
                <input type="text" id="search" name="q" placeholder="Search Encyclopedia">
            </form>
            <div id="nav-links">
                <a href="{% url 'index' %}" class="link">Home</a>
                <a href="{% url 'new_page' %}" class="link">Create New Page</a>
                <a href="{% url 'random_page' %}" class="link">Random Page</a>
            </div>

            <div id="dropdown">
                <button id="menu-btn" onclick="toggleMenu()"><img src="{% static 'encyclopedia/icons8-menu-40.png' %}" alt="Menu Button"></button>
                <div id="dropdown_content-wrapper">
                    <div id="dropdown-content">
                        <a href="{% url 'index' %}" class="link">Home</a>
                        <a href="{% url 'new_page' %}" class="link">Create New Page</a>
                        <a href="{% url 'random_page' %}" class="link">Random Page</a>
                    </div>
                </div>
            </div>

        </div>

    </nav>
    

    <section id="body-block">
        {% block body %}
        {% endblock %}
    </section>

    
    <script>
        function toggleMenu() {
            document.getElementById('dropdown_content-wrapper').classList.toggle("show");
        }
    </script>
</body>
</html>

