{% load static %}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled</title>
    <link href="{% static 'encyclopedia/new_styles.css' %}" rel="stylesheet">
</head>
<body>
    

    <nav class="navbar">
        <div class="container">
            <div class="logo"><a href="{% url 'index' %}">Wiki</a></div>
            <div class="n-right">
                <form action="{% url 'search' %}">
                    <input type="text" class="search" name="q" placeholder="Search Encyclopedia">
                </form>
                <ul class="n-links">
                    <li class="link">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="link">
                        <a href="{% url 'new_page' %}">Create New Page</a>
                    </li>
                    <li class="link">
                        <a href="{% url 'random_page' %}">Random Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="body">
        <div class="container">
            {% block body %}
            {% endblock %}

            <h1 class="p-title">
                All Pages
            </h1>
            <ul class="entries-list">
                <li class="entry"><a href="">Entry 1</a></li>
                <li class="entry"><a href="">Entry 2</a></li>
                <li class="entry"><a href="">Entry 3</a></li>
                <li class="entry"><a href="">Entry 4</a></li>
                <li class="entry"><a href="">Entry 5</a></li>
                <li class="entry"><a href="">Entry 6</a></li>
                <li class="entry"><a href="">Entry 7</a></li>
                <li class="entry"><a href="">Entry 8</a></li>
                <li class="entry"><a href="">Entry 9</a></li>
                <li class="entry"><a href="">Entry 10</a></li>
                <li class="entry"><a href="">Entry 11</a></li>
                <li class="entry"><a href="">Entry 12</a></li>
                <li class="entry"><a href="">Entry 13</a></li>
                <li class="entry"><a href="">Entry 14</a></li>
                <li class="entry"><a href="">Entry 15</a></li>
            </ul>
        </div>
    </section>

</body>
</html>

